.root{
  background-color: #4E0000;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.Search{
  width: 325px;
  padding-top: 5%;
}

.App {
  background-color: #4E0000;
}

.Header {
  z-index: 1;
}

.App .Content {
  padding: 5%;
  padding-bottom: 220px;
  text-align: center;
}

.App .Footer {
  /* padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 50%;
  text-align: center; */
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logos img {
  width: 20vw;
  margin: 0 .5em 0;
}

.title {
  color: white;
  font-weight: bolder;
  text-align: center;
  margin:0;
  padding:0;
  line-height: 1.2rem;
  /* padding: 2em; */
  /* background-image: url(../../public/img/background_lines.jpg); */
}

.subtitle {
  color: white;
  font-weight: bolder;
  text-align: center;
  margin:0;
  padding-top:  20px;;
  line-height: 1.2rem;
  /* padding: 2em; */
  /* background-image: url(../../public/img/background_lines.jpg); */
}

.ant-card-meta-title {
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-card-meta-description {
  color: rgba(255, 255, 255, 0.914);
}

.ant-card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  background: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
  border-radius: 2px;
  align-content: center;
}

.Card{
  text-align: center;
  justify-content: center;
}

